/* Main CSS */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #8c53ff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 827px;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

#list-header {
    display: flex;
    align-items: left;
    justify-content: left;
}

.blankDiv {
    background-color: #fff;
    border: none;
    padding: 20px;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addNoteDiv {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addNoteDiv:hover {
    transition: 0.25s;
    background-color: #f1f1f1;
}


#addNoteDiv i {
    font-size: 70px;
    color: gainsboro;
}


/* List CSS */
#list-container {
    display: flex;
    align-items: left;
    justify-content: left;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

li {
    background-color: #fff385;
    margin: 5px 0;
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Added to align buttons to the right */
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow:  9px 9px 18px #b3b3b3,
             -9px -9px 18px #ffffff;
}

li span {
    font-size: 12px;
    flex-grow: 1;
    word-wrap: break-word;
    overflow-y: scroll;
}

#editBtn,
#deleteBtn {
    background-color: #c6aaff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px; /* Adjusted margin for spacing */
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    width: 60px;
}

#editBtn {
    background-color: gainsboro;
}

#deleteBtn:hover {
    background-color: #8c53ff;
}

#editBtn:hover {
    background-color: gray;
}


/* Create Note Popup CSS */
#popupContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 300px;
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #8c53ff;
}

#btn-container {
    display: flex;
}

#submitBtn, #closeBtn {
    width: 100px;
    background-color: #8c53ff;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

#closeBtn {
    background-color: gainsboro;
}


/* Editing Popup CSS */
#editing-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#submitBtn, #closeBtn {
    width: 100px;
    background-color: #8c53ff;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

#closeBtn {
    background-color: gainsboro;
}